button {
    display: block;
    margin: 4z0px auto;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons {
    display: flex;
    column-gap: 40px;
    width: fit-content;
}